body{
    background-color: white;
    background-image: url(image/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}
h1{
    text-align: left;
    font-size: 200px;
}
pre{
    font-size: 50px;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 1000px;
    gap: 1rem;
    font-size: 40px;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 100px;
    text-align: center;
    float: right ;
}
.navbar a:hover{
    background-color: aquamarine ;
}

#lg{
    text-align: center;
    flex-grow: 5;
    height: 500px;
    width: 500px;

}
button{
    background-color: #3DD4A1;
    border-color: #3DD4A1 ;
    border-radius: 20px;
    width: 1000px;
    height: 150px;
    text-align: center;
    font-size: 100px;
    float: left;
}
.container{
    position: absolute;
    top: 1000px;
    left:500px;
}
.gallery{
    display: inline-block;
    border: 100px solid black;
    margin: 5px;
    width: 2000px;

}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 100px solid #3DD4A1;
}
.gallery img{
    width: 100%;
    height: auto;
}